.header-wrapper {
    height: 80px;
    background-color: #55ACEE;
    display: flex;
    border-bottom: 1.5px solid #CCD6DD;
    justify-content: space-between;
    align-items: center;
}

.title {
    border-right: 1.5px solid #CCD6DD;
}

.image {
    margin: auto;
    padding: 2px 8px 0 8px;
    height: 70px;
    width: 70px;
}

.menu-wrapper {
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 34px;
    padding-right: 9px;
    font-weight: bold;
    font-size: 20px;
}

button:focus {
    outline: none;
    border: none;
}

span {
    height: 3px;
}

button {
    background-color: #55ACEE;
    border: 0px;
}
