.program-wrapper {
    padding-top: 50px;
}

.program-card-wrapper {
    width: 25%;
    margin: auto;
}

.card-wrapper {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    padding-bottom: 20px;
}

.card-wrapper-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-text-back {
    padding-top: 28%;
    color: white;
}

.card-wrapper:hover .card-wrapper-inner {
    transform: rotateY(180deg);
  }

.card-wrapper-front, .card-wrapper-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-text {
    width: 30%;
    margin: auto;
}

/* Style the front side (fallback if image is missing) */
.card-wrapper-front {
    display:flex;
    justify-content: column;
    align-items: center;
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .card-wrapper-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

